.cell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #888;
  background-color: #c0c0c0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  &:hover:not(:disabled) {
    background-color: #d0d0d0;
  }

  &:disabled {
    cursor: default;
  }
}

.cell--opened {
  background-color: #e0e0e0;
  border-color: #999;
  cursor: default;

  &:hover {
    background-color: #e0e0e0;
  }
}

.cell--mine {
  background-color: #ff6b6b;
}

.cell--flagged {
  background-color: #ffd93d;
  color: #333;
}

.cell--num-1 {
  color: #0000ff;
}

.cell--num-2 {
  color: #008000;
}

.cell--num-3 {
  color: #ff0000;
}

.cell--num-4 {
  color: #000080;
}

.cell--num-5 {
  color: #800000;
}

.cell--num-6 {
  color: #008080;
}

.cell--num-7 {
  color: #000000;
}

.cell--num-8 {
  color: #808080;
}
